/* Importing Google Font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

/* Color Declarations */
$white: #FFF;
$light-gray: #AAA;
$gray: #7F8C8D;
$primary: #E74C3C;
$secondary: #D94B3D;

/* Declaring Variables */
$background: #F2F4F6;
$transparent: transparent;

/* Font Properties */
$font: Roboto;
$light: 300;
$normal: 400;

/* Mixins*/
@mixin transition ($seconds) {
    -webkit-transition: all $seconds;
    -moz-transition: all $seconds;
    -ms-transition: all $seconds;
    transition: all $seconds;
}
@mixin rotate ($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
}

/* General CSS */
body {
    background: $background;
    font-family: $font;
    font-weight: $light;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    padding-top: 50px;
}
a:focus,
a:hover {
    text-decoration: none;
}

/* Div Tags CSS */
.form-control,
.form-control:focus {
    @include transition(0.5s);
    font-weight: $light;
    background: $white;
    color: #444;
    border: 0;
    border-radius: 0;
    margin: 0 auto;
    box-shadow: none;
    margin-top: 12px;
    font-size: 18px;
    padding: 30px 21px;
    outline: 0;
    margin-bottom: 30px;
    // padding-top: 10px;
}
::-webkit-input-placeholder { 
    color: #BBB;
}
.card {
    @include transition(0.5s);
    background: $white;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-left: 3px solid $gray;
}
.card:hover {
    border-color: $primary;
    box-shadow: 0px 4px 6px #CCC;
    cursor: pointer;
}

/* Button CSS */
.btn-random,
.btn-random:focus,
.btn-fork,
.btn-fork:focus {
    @include transition(0.5s);
    color: $white;
    background: #AAA;
    border-radius: 2px;
    width: 100px;
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 8px 10px;
    padding-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
}
.btn-random:hover,
.btn-fork:hover {
    background: $primary;
    color: $white;
}
.btn-fork,
.btn-fork:focus {
    top: 80px;
}
.btn-fork:hover {
    background: #444;
}
.btn-clear,
.btn-clear:focus {
    @include transition(0.5s);
    color: $primary;
    font-weight: $normal;
    font-size: 12px;
    padding: 0;
    margin-top: 12px;
    text-transform: uppercase;
    border: none;
    float: right;
    background: transparent;
    outline: 0;
}
.btn-clear:disabled {
    color: #CCC;
}

/* Text Property CSS */
.font-property {
    font-family: $font;
    font-weight: $light;
}
.header-title {
    font-size: 22px;
    color: #888;
    font-weight: $light;
}
#card-title {
    @include transition(0.5s);
    font-weight: $normal;
    color: #777;
    font-size: 16px;
}
#card-description {
    @include transition(0.5s);
    color: $light-gray;
    font-size: 15px;
    line-height: 24px;
}
.card:hover #card-title {
    color: #444;
}
.card:hover #card-description {
    color: $gray;
}
.showing-results {
    text-transform: uppercase;
    color: #888;
    font-size: 12px;
    font-weight: normal;
}
#search-term {
    color: $primary;
}