doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        // Favicon and Title
        title#page-title Wikipedia Viewer
        link(rel='shortcut icon', href='favicon.png')

        // CSS CDNs
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

        // MY CSS FILE
        link(rel='stylesheet', href='scss/design.css')
    body
        .col-md-12.search
            .col-md-6.col-md-offset-3
                row
                    .col-md-10
                        p.header-title.wow.fadeInDown Wiki-Viewer
                    .col-md-2
                        button.btn-clear.wow.fadeInDown(id="clear", disabled="true") Clear
                form
                    input.form-control.wow.fadeInDown(id="input", placeholder="type and press enter")
            .col-md-6.col-md-offset-3
                .col-md-12
                    .row
                        p.showing-results.wow.fadeInDown
                            span#show-message Get Results form WikiPedia instantly. 
                            span#search-term Type and press Enter.
                .col-md-12#results
                    
    
        button.btn.btn-random.wow.bounceInRight(id="random")
            span.fa.fa-random
            | &nbsp; Random

        // JAVASCRIPT CDNs
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')

        // MY JAVSCRIPT FILE
        script(src='js/viewer.js')