doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        // Favicon and Title
        title#page-title Wikipedia Viewer
        link(rel='shortcut icon', href='favicon.png')

        // CSS CDNs
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

        // MY CSS FILE
        link(rel='stylesheet', href='scss/design.css')
    body
        .col-md-12.search
            .col-md-6.col-md-offset-3
                p.header-title Wiki-Viewer
                form
                    input.form-control(id="input", placeholder="type and press enter")
            .col-md-6.col-md-offset-3
                .col-md-12#results
                    .row.card
                        p#card-title Keshav Narula
                        p#card-description Keshav Narula is an Investor, Advisor, Researcher, Billionaire, CEO, Playboy, Philanthropist, and a visionary. He's the co-founder and CEO of Artellic, a multi-billion dollar Humanoid Robotics company.
    
        a.btn.btn-random(href="http://en.wikipedia.org/wiki/Special:Random", target="_blank", id="random")
            span.fa.fa-random
        a.btn.btn-fork(href="http://en.wikipedia.org/wiki/Special:Random", target="_blank", id="random")
            span.fa.fa-code-fork

        // JAVASCRIPT CDNs
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')

        // MY JAVSCRIPT FILE
        script(src='js/viewer.js')